default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: notes_dev
  username: devuser
  host: localhost
  port: 5432

test:
  <<: *default
  database: notes_test
  username: testuser
  host: localhost
  port: 5432

production:
  <<: *default
  database: notes_production
  username: notes
  password: <%= ENV['NOTES_DATABASE_PASSWORD'] %>
